<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/result.css">
        <title>SURVEY FORM</title>
    </head>
    <body>
        <h2>THIS INFORMATION IS DOPE</h2>
        <ul>
            <li><span class="bold">Name: </span><%= users.name %></li>
            <li><span class="bold">Location: </span><%= users.location %></li>
            <li><span class="bold">Favorite Language: </span><%= users.language %></li>
            <li><span class="bold">Comments: </span><%= users.comment %></li>
        </ul>
        <a href="/">Go Back</a>
    </body>
</html>
